<%- include('./partials/header') -%>



<div class="containerized">
    <div class="heading"><h2>Log IN</h2></div>
    <%- include('./partials/message')  -%> 
    <div class="form-group">
        <form action="/login" method="POST">
            <input type="text" class ="form-control mb-2" name="username" id="usernameField" placeholder="Enter your username" value= "<%= typeof username != 'undefined' ? username: ''%>"  >
            <input type="password" class ="form-control mb-2" name="password" id="passwordField" placeholder="Enter the password">
            <button class="btn btn-primary mb-3" type="submit">Log In</button>
        </form>
    </div>
    <div class="link">Not registered yet?<br> <a href="/register">Register</a></div>
</div>

<%- include('./partials/footer') -%>